package: snappershadowcopy2
Architecture: amd64
Maintainer: debe jerry <debejerry@gmail.com>
Depends: snapper (>= 0.2.4), samba (>= 3.6.6), python3-gi (>= 3.2.2), python-dbus (>= 1.1.1)
Version: 0.2
Description: Wrapper service around snapper (http://snapper.io) and samba with shares 
 that have the vfs module shadowCopy2 enabled, so that snapper created snapshots 
 appear on the previous version tab in Windows Explorer.
 